.DBTable{
    background-color: rgba(70, 74, 83, 0.356);
    box-shadow: 0px  0px 15px rgba(70, 74, 83, 0.336);
    color: white;
}

.DBCollumns{
    background-color: rgb(65, 64, 97);
}

.DBCells{
    background-color: rgb(36, 55, 68);
}

.DBHeadCollumns{
    margin-left: 3vw;
    background-color: rgba(116, 179, 204, 0.616);
}

